#!/bin/bash

# postCreateCommand をカスタマイズする場合は postCreateCommand.local.sh を作成して実行権限を付与します
# 引数としてdevcontainer.jsonで指定したユーザー名が渡されます

user=${1:?not set user}

log "Start custom post create"
log "  container user : $user"

# 以下のサンプルではコンテナに対してgit-subのインストールを行っています
cmd="$(cat << CMD
(
    cd $DIR
    ./install.sh --bash
    ./install-alias.sh
    ./refresh-completions.sh
)
CMD
)"

echo "$cmd"
eval "$cmd"

# gemini CLIを使う場合は以下のコメントを解除します
# デフォルトでは一度インストールしたらコンテナ再構築後も永続化されます
# if command -v gemini &> /dev/null; then
#     log "Gemini CLI is already installed."
# else
#     log "Gemini CLI is not installed. Installing..."
#     npm install -g @google/gemini-cli
# fi
